.board__menu {
  margin-top: 10px;
}
.board__title {
  font-size: 1.5em;
}

.board__show-menu {
  padding-left: 60px;
}

.new-list__button {
  background-color: rgba(0,0,0,.30);
  padding: 10px;
  border-radius: 4px;
  height: 50px;
}

.new-list__button:hover {
  background-color: rgba(0,0,0,.50)
}

.list__add {
  height: auto;
  padding: 5px;
}

.list {
  height: 100%;
  color: black;
}

.list, .list__add {
  background-color: #e2e4e6;
  border: 1px solid #e2e4e6;
  border-radius: 3px;
  margin: 0 5px;
}
.list__title {
  padding:5px;
}
.list_button-submit {
  position: relative;
  top: 4px;
}
.list__add [type='text'] {
  margin: 0 0 0.5rem;
}
.list__add .success.button {
  margin: 0 4px 0 0;
}
.list__new-card_button {
  padding: 5px;
  max-width: 300px;
  margin: 0px;
  position: relative;
  display: block;
  border-radius: 0 0 3px 3px;
  color: black;
  width: 100%;
  text-align: left;
}
.list__new-card_button:hover {
  background-color: #cdd2d4;
  color: black;
}
.list__x, .new-card__x  {
  position: relative;
  top: 4px;
}

.list-card {
  background-color: #fff;
  padding: 8px 10px;
  max-width: 300px;
  cursor: pointer;
  border-radius: 3px;
  border-bottom: 1px solid #ccc;
  margin: 0 5px 6px 5px;
}

.list-card__title {
  color: black;
}

.new-card__desc-input {
  margin: 0 0 4px 4px;
  max-height: 150px;
  min-height: 55px;
  width: 95%;
  padding: 0;
  cursor: text;
  word-wrap: break-word;
  resize: none;
  overflow: hidden;
}
.new-card__button {
  margin: 0 4px 4px 4px;
}
